@import url("https://rsms.me/inter/inter.css");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: #1c1a19;
  font-family: "Inter", sans-serif;
}
.nav-bar {
  display: flex;
  background-color: #3e3c3c;
  color: #fff;
  justify-content: space-around;
  align-items: center;
  font-size: 18px;
}

.menu {
  list-style-type: none;
}
.menu .item {
  display: inline-block;
  padding: 20px 10px;
}
.nav-bar a {
  color: #fff;
  text-decoration: none;
}
.nav-bar a:hover {
  border-bottom: 2px solid #84b1ff;
}

section {
  display: flex;
  height: 100vh;
  align-items: center;
  padding: 100px;
}

.content {
  position: relative;
  z-index: 10;
  max-width: 600px;
  color: white;
}

.home-img {
  position: absolute;
  top: 40px;
  right: 0;
  height: 110%;
}

h1 {
  font-size: 42px;
  font-weight: 400;
  color: #f55800;
  font-family: "Crete round", sans-serif;
}

.soft {
  font-size: 22px;
}

p {
  margin: 12px 0;
  font-size: 20px;
}

.icons ul {
  position: absolute;
  list-style-type: none;
  top: 50%;
  left: 10px;
  width: 60px;
  display: inline-block;
  transform: scale(1.2);
}

.fa-twitter,
.fa-linkedin,
.fa-medium,
.fa-angellist,
.fa-bars {
  color: white;
  padding: 5px;
}

.toggle {
  display: none;
}

@media all and (max-width: 1068px) {
  .nav-bar {
    flex-direction: column;
    position: relative;
  }
  .nav-bar .container {
    width: 100%;
  }
  .toggle {
    display: block;
    position: absolute;
    right: 14px;
    top: 0;
  }
  .menu {
    list-style-type: none;
    width: 100%;
    text-align: left;
    padding-top: 10px;
    color: #f55800;
    display: none;
  }
  .menu .item {
    display: block;
    border-top: 2px solid #fff;
  }
  .home-img {
    position: absolute;
    bottom: 0;
    left: 300px;
    height: 110%;
  }
  .icons ul {
    display: flex;
    justify-content: space-between;
    top: 625px;
    left: 100px;
  }
}
